node_modules
yarn-error.log
npm-debug.log
public-html/

.vscode
middleware/.vscode
*.iml
.idea/
middleware/.idea/
coverage

**/screenshots
.idea/
*.DS_Store

**/.settings/
**/.project
**/node_modules
**/yarn-error.log
**/npm-debug.log
**/public-html/

**/.vscode
**/*.iml
**/.idea/
**/coverage
**/build
**/out
**/bin
**/screenshots

**/*.DS_Store

backend/src/_pycache_
backend/src/**/_pycache_