.indicator-tag {
  padding: 0 4px 0 4px;
  border-radius: 2px;
  background-color: #e9ecf4;
  font-size: 9px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: center;
  color: #636b7a;
  margin-left: 6px;
  font-family: Rubik-Bold;
  display: inline-block;
}

.indicator-tag-danger {
  color: #ea3d27;
}
