@import "../../../style/colors.scss";
@import "../../../style/text.scss";

.factory-drawer {
    &__menu{
        position: relative;
        padding: 16px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    }
    &__select-text {
        color: rgba(0,0,0,0.87);
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        &__selected {
            position: relative;
        }
    }
    &__factory-selected {
        &__text {
            color: $text-color-selected;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
        }
        &__marker {
            position: absolute;
            width: 4px;
            background-color: $text-color-selected;
            left: 0;
            top: 0;
            height: 57px;
        }
    }
    &__icon {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
    &__item {
        display: inline-block;
        min-width: 180px;
        font-family: 'Roboto';
        padding-left: 32px;
        position: relative;
        color: black;

        &__selected {
            color: $text-color-selected;
        }
        &__marker {
            position: absolute;
            width: 4px;
            background-color: $text-color-selected;
            left: 0;
            height: 40px;
        }
    }
}

#factory-select-anchor {
    position: absolute;
    bottom: -33px;
}