$text-color-primary: #556474;
$text-color-secondary: #66727f;
$text-color-tertiary: #424850;
$text-color-highlight: #20cc81;
$text-color-selected: #2B9E5F;

$text-color-label: #6e7f8d;

$text-color-message: #b3b9c8;
$text-color-warning: #f4b63e;
$text-color-danger: #ea3d27;

$body-bg-color: #f8f8f8;
$header-bg-color: #263237;
$header-text-color: #ffffff;
$header-bg-img: linear-gradient(282deg, #485563, #29323c);

$primary-icon-color: #636b7a;
$secondary-icon-color: #c5cbdb;

$border-color: #263237;


$indicator-card-bg:#3A484F;
$indicator-card-border: #62747E;
$indicator-card-border-transparent: rgba(98, 117, 127, 0.5);
$indicator-card-title-color: #BDC1C2;;

$indicators-section-bg: #263137;
