@import "./colors.scss";
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/Rubik-Medium.ttf') format('truetype');
}


@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

* {
  font-family: 'Rubik'
}
body, html {
  height: 100%;
  background-color: #EEEEEE;
  margin: 0px;
}

h1 {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
}

h2 {
  font-family: 'Roboto-Regular';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: #ffffff;
}